In [1]:
import numpy as np
import pandas as pd
heroes_information = pd.read_csv("heroes_information.csv")

In [2]:
###instalar desde anaconda navigator######
####pandasql
####mysql
####mysql-connector-c
####mysql-connector-python
from pandasql import *

In [3]:
####para enlistar los documentos en el directorio#####
os.listdir()

['SQL Competition.ipynb', 'heroes_information.csv', '.ipynb_checkpoints']

In [4]:
pysqldf = lambda q: sqldf(q,globals())

In [5]:
query2 = " SELECT * FROM heroes_information limit 10"

In [6]:
pysqldf(query2)

,id,name,Gender,Eye color,Race,Hair color,Height,Publisher,Skin color,Alignment,Weight
0,0,A-Bomb,Male,yellow,Human,No Hair,203.0,Marvel Comics,None,good,441.0
1,1,Abe Sapien,Male,blue,Icthyo Sapien,No Hair,191.0,Dark Horse Comics,blue,good,65.0
2,2,Abin Sur,Male,blue,Ungaran,No Hair,185.0,DC Comics,red,good,90.0
3,3,Abomination,Male,green,Human / Radiation,No Hair,203.0,Marvel Comics,None,bad,441.0
4,4,Abraxas,Male,blue,Cosmic Entity,Black,-99.0,Marvel Comics,None,bad,-99.0
5,5,Absorbing Man,Male,blue,Human,No Hair,193.0,Marvel Comics,None,bad,122.0
6,6,Adam Monroe,Male,blue,None,Blond,-99.0,NBC - Heroes,None,good,-99.0
7,7,Adam Strange,Male,blue,Human,Blond,185.0,DC Comics,None,good,88.0
8,8,Agent 13,Female,blue,None,Blond,173.0,Marvel Comics,None,good,61.0
9,9,Agent Bob,Male,brown,Human,Brown,178.0,Marvel Comics,None,good,81.0

In [7]:
query1 = """
SELECT *
FROM heroes_information
WHERE Race='Human'
AND Height > 200;

"""

In [8]:
pysqldf(query1)

,id,name,Gender,Eye color,Race,Hair color,Height,Publisher,Skin color,Alignment,Weight
0,0,A-Bomb,Male,yellow,Human,No Hair,203.0,Marvel Comics,None,good,441.0
1,29,Ant-Man,Male,blue,Human,Blond,211.0,Marvel Comics,None,good,122.0
2,59,Bane,Male,None,Human,None,203.0,DC Comics,None,bad,180.0
3,119,Bloodaxe,Female,blue,Human,Brown,218.0,Marvel Comics,None,bad,495.0
4,221,Doctor Doom,Male,brown,Human,Brown,201.0,Marvel Comics,None,bad,187.0
5,373,Juggernaut,Male,blue,Human,Red,287.0,Marvel Comics,None,neutral,855.0
6,391,Kingpin,Male,blue,Human,No Hair,201.0,Marvel Comics,None,bad,203.0
7,412,Lizard,Male,red,Human,No Hair,203.0,Marvel Comics,None,bad,230.0
8,476,Mr Incredible,Male,blue,Human,Blond,201.0,Dark Horse Comics,None,good,158.0
9,557,Rey,Female,hazel,Human,Brown,297.0,George Lucas,None,good,-99.0
10,583,Scorpion,Male,brown,Human,Brown,211.0,Marvel Comics,None,bad,310.0
11,591,She-Hulk,Female,green,Human,Green,201.0,Marvel Comics,None,good,315.0

In [17]:
query1 = """
SELECT *
FROM heroes_information
WHERE Eye_color = 'yellow';

"""

In [18]:
pysqldf(query1)

PandaSQLException: (sqlite3.OperationalError) no such column: Eye_color
[SQL:
SELECT *
FROM heroes_information
WHERE Eye_color = 'yellow';

]
(Background on this error at: https://sqlalche.me/e/14/e3q8)

In [21]:
query_1 = """ 
        select name from heroes_information where id = 0;
"""

In [22]:
pysqldf(query_1)

     name
0  A-Bomb

In [27]:
query_2 = """
    select count(DISTINCT(Publisher)from heroes_information;
    
"""

In [28]:
pysqldf(query_2)

PandaSQLException: (sqlite3.OperationalError) near "from": syntax error
[SQL:
    select count(DISTINCT(Publisher)from heroes_information;

]
(Background on this error at: https://sqlalche.me/e/14/e3q8)

In [29]:
query_3 = """
    select COUNT(*) FROM heroes_information
    WHERE Height > 200;
"""

In [30]:
pysqldf(query_3)

   COUNT(*)
0        59

In [33]:
query_4 = """ 
    select COUNT(*) FROM heroes_information
    WHERE Height > 200 and Race = 'Human';
"""

In [34]:
pysqldf(query_4)

   COUNT(*)
0        12

In [ ]:
query_5 = """
    SELECT count(*)FROM heroes_information
    where Weight > 200 and 
"""

In [39]:
query_6 = """
    SELECT count(*) FROM heroes_information
    where `Eye_color` = 'blue' or `Eye colors` = 'red';
"""

In [40]:
pysqldf(query_6)

PandaSQLException: (sqlite3.OperationalError) no such column: eye_color
[SQL:
    SELECT count(*) FROM heroes_information
    where `eye_color` = 'blue' or `Eye colors` = 'red';
]
(Background on this error at: https://sqlalche.me/e/14/e3q8)

In [43]:
query_7 = """
    select name FROM heroes_information
    order by Race
    Desc;  
"""

In [44]:
pysqldf(query_7)

               name
0    Solomon Grundy
1            Gamora
2              Yoda
3          Predator
4             Alien
..              ...
729          Wondra
730  Wyatt Wingfoot
731           X-Man
732     Yellow Claw
733            Zoom

[734 rows x 1 columns]

In [47]:
uqery_9 = """
    select gender, count(*) from heroes_information
    group by gender;

"""

In [48]:
pysqldf(uqery_9)

   Gender  count(*)
0    None        29
1  Female       200
2    Male       505

In [55]:
query_10 = """
    select publisher, count(*) from heroes_information
    group by publisher
    having count(*) > 15;
    
    
"""

In [56]:
pysqldf(query_10)

           Publisher  count(*)
0          DC Comics       215
1  Dark Horse Comics        18
2      Marvel Comics       388
3       NBC - Heroes        19